.body{
    /* initialiser */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif ;

    
      
}
.container{
    height: 500px; 
    border-top: 10px solid #a4733e;
    border-bottom: 15px solid #a4733e;
    border-left: 20px solid #a4733e;
    border-right: 20px solid #a4733e;
}

  
  .de img {
      width: 80px;
      height: 80px;
      position: absolute;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 20px;  
    }

.player1{
    background-color: #cecbc8;
}