/* initialiser */
.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif ;   
}


.plateau{
    height: 500px; 
    /* max-width: 1000px; */
    border-top: 10px solid #a4733e;
    border-bottom: 15px solid #a4733e;
    border-left: 20px solid #a4733e;
    border-right: 20px solid #a4733e;
}

  
  .de img {
      width: 80px;
      height: 80px;
      position: absolute;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 20px;  
    }

.player1{
    background-color: #cecbc8;
}
#player1Score,
#player2Score{
    font-size: 5rem;
}


.alert-message {
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
 color: #31708f;
 text-align: center;
 font-size: 20px;
 font-weight: bold;
 margin-top: 20px;
 animation: my-animation 2s ease-in-out infinite;
}

.btn {
  /* supprimer le style par defaut */
    border: none;
}




@keyframes my-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.rouge {
  color: red;
  font-weight: bold;
}
.current {
    padding: 0 20px 0 20px !important;
}

.btn {
    font-size: calc(1rem + 0.5vw);
}


/* medias querie pour les ecran plus petit que 475px */

@media (max-width: 500px) {

    .de img {
        width: 60px;
        height: 60px;
        border-radius: 9px;
    }
  
  
    .btn {
        font-size: calc(0.8rem + 0.5vw);
    }

    .current {
        font-size:calc(0.6rem + 1vw);
        padding-left: 0 !important;
        padding-right: 0 !important;

    }

    #player1Score
    #player2Score{
        font-size: calc(0.6rem + 1vw) !important;
    }

}

/* medias querie pour les ecran plus petit que 350*/

@media (max-width: 300px) {

  .boutons__bas {
  
    padding-top: 4rem !important;
  }
  .de{
    margin-top: 0rem !important;
  }

    .de img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
    }

    .btn {
        font-size: calc(0.6rem + 0.5vw);
    }

    .current {
        font-size:calc(0.3rem + 1vw);
        padding-left: 0 !important;
        padding-right: 0 !important;

    }

  #player1Score,
#player2Score{
    font-size: 2rem;
}

}


